*{
    margin: 0;
    padding: 0;
    box-sizing: border box; 
}

body{
    background: #fdf0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}